html { font-family: sans-serif; }
titel { font-size: 0.7rem; text-align: center; color: #b0a040; }
body { background-color: #281020; color: #e0d060; padding: 0; align: center; font-size: 1rem; }
div { background-color: #200820; margin: 0.5rem; padding: 0.5rem; border 2px black; }
body > *:first-child { margin-top: 0; }
body > *:last-child { margin: 0; padding: 0.05rem 0.5rem; border 2px 0 0 0 black; }
div > *:first-child { margin-top: 0; }
div > *:last-child { margin-bottom: 0; padding: 0.5rem 0.5rem; width: auto; }
@media screen and (min-width: 36rem) {
  div { width: 34rem; } }
h1 { text-shadow: 3px 3px 1px black; margin-top: 2.4rem; margin-bottom: 0.3rem; }
h2 { text-shadow: 3px 3px 1px black; margin-top: 1.6rem; margin-bottom: 0.3rem; }
h3 { text-shadow: 3px 3px 1px black; margin-top: 1.0rem; margin-bottom: 0.3rem; }
